*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #353839;    
}

#game-menu button {
    background-color: black;
    color: #eee;
    width: 4rem;
    height: 2rem;
}

#game-screen {
    height:100vh;
}

#game-screen div {
    display:flex;
}

.square-empty {
    background-color: black;
    border: 0.1px solid grey;
    width: 50px;
    height: 50px;
}

.square-snake-body {
    background-color: lightblue;
    width: 50px;
    height: 50px;
}

.square-snake-head {
    background-color: blue;
    width: 50px;
    height: 50px;
}

.square-apple {
    background-color: red;
    width: 50px;
    height: 50px;
}
